<form class="form-container" [formGroup]="passwordFormControl">
  <h2 class="form-title">Reset password</h2>
  <div class="for-email">for: {{ email }}</div>
  <ng-template [ngIf]="!passwordChanged" [ngIfElse]="successfulPasswordChange">
    <div class="form-inputs">
      <span class="p-float-label form-input-wrapper">
        <input
          pInputText
          class="form-input"
          type="password"
          id="password"
          formControlName="password" />
        <label htmlFor="password">Password</label>
      </span>
      <span class="p-float-label form-input-wrapper">
        <input
          pInputText
          class="form-input"
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword" />
        <label htmlFor="confirmPassword">Repeat password</label>
        <small
          class="form-error"
          *ngIf="passwordFormControl.errors?.['notSame']">
          Passwords do not match
        </small>
      </span>
    </div>
    <div *ngIf="errorMessage$ | async" class="error-disclaimer">
      {{ errorMessage$ | async }}
    </div>
    <p-button
      label="Reset password"
      [disabled]="!passwordFormControl.valid"
      (click)="resetPassword()" />
  </ng-template>
</form>

<ng-template #successfulPasswordChange>
  <div class="confirmed-changed">
    <div>Your password has been successfully changed.</div>
    <p-button label="Return to Sign In" (click)="navigateToSignIn()" />
  </div>
</ng-template>
