<h2>Reset password</h2>
<div>for: {{ email }}</div>
<form [formGroup]="passwordFormControl">
  <span class="p-float-label">
    <input
      pInputText
      type="password"
      id="password"
      formControlName="password" />
    <label htmlFor="password">Password</label>
  </span>
  <span class="p-float-label">
    <input
      pInputText
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword" />
    <label htmlFor="confirmPassword">Confirm password</label>
  </span>
  <div *ngIf="errorMessage$ | async" class="error-disclaimer">
    {{ errorMessage$ | async }}
  </div>
  <p-button
    label="Reset password"
    [disabled]="!passwordFormControl.valid"
    (click)="resetPassword()" />
</form>
