<h2>Send passwort reset email</h2>

<div class="reset-inputs" *ngIf="!emailSent; else emailSentSuccess">
  <span class="p-float-label">
    <input pInputText type="email" id="email" [formControl]="emailForm" />
    <label htmlFor="email">Email</label>
  </span>
  <div *ngIf="errorMessage$ | async" class="error-disclaimer">
    {{ errorMessage$ | async }}
  </div>
  <p-button
    label="Send email"
    [disabled]="!emailForm.valid"
    (click)="sendResetEmail()" />
</div>
<ng-template #emailSentSuccess>
  <div>
    A password reset email has been sent to
    <b>{{ emailForm.value }}</b>
    .
    <br />
    Please continue the reset process using the link contained within the email.
  </div>
</ng-template>
