<div class="form-container">
  <h2 class="form-title">Send password reset email</h2>
  <ng-template [ngIf]="!emailSent" [ngIfElse]="emailSentSuccess">
    <div class="form-inputs">
      <span class="p-float-label form-input-wrapper">
        <input
          pInputText
          class="form-input"
          type="email"
          id="email"
          [formControl]="emailForm" />
        <label htmlFor="email">Email</label>
      </span>
    </div>
    <p-button
      label="Send email"
      [disabled]="!emailForm.valid"
      (click)="sendResetEmail()" />
  </ng-template>
</div>

<ng-template #emailSentSuccess>
  <div class="confirmed-sent">
    <div>A password reset email has been sent to:</div>
    <div class="email">{{ emailForm.value }}</div>
    <div>
      Please continue the reset process using the link contained within the
      email.
    </div>
  </div>
</ng-template>
