@import '../../../shared/styles/form';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirmed-sent {
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  line-height: 24px;
  border: 2px solid #2fa22f;
}

.email {
  font-weight: 700;
}
