:host {
  display: block;
  width: 400px;
  min-width: 400px;
}

.card {
  height: 120px;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: var(--highlight-bg);
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s;

  &:hover,
  &:focus {
    background: var(--primary-900);
  }

  &:active {
    background: var(--primary-800);
  }
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.bookmark {
  z-index: 20;
  bottom: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  background: #55b055;
  padding: 4px;
  border-radius: 20px;
  transition: 0.2s;

  &.visible {
    opacity: 1;
  }

  ng-icon {
    display: block;
  }
}

.card-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
}

.card-info-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 0;
  gap: 6px;
}

.card-title {
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
