<a class="card" [routerLink]="['/', data.category, data.id]">
  <span class="card-image-container">
    <span class="bookmark" [ngClass]="{ visible: isInUserCollection() }">
      <ng-icon name="ionBookmark" size="24" />
    </span>
    <img class="card-image" src="assets/no_cover_placeholder.jpg" alt="Cover" />
  </span>
  <span class="card-info-container">
    <span class="card-title-wrapper">
      <h2 class="card-title">{{ data.title }}</h2>
    </span>
    <b class="card-data" *ngIf="data.platform">
      {{ data.platform }}
    </b>
    <b class="card-data" *ngIf="data.director">
      {{ data.director }}
    </b>
    <b class="card-data" *ngIf="data.artist">
      {{ data.artist }}
    </b>
    <span class="card-data">
      In
      <b>{{ data.saved_by.length }}</b>
      {{ data.saved_by.length === 1 ? 'collection' : 'collections' }}
    </span>
  </span>
</a>
