<div *ngIf="movieData; else movieDataLoading" class="media-header">
  <div class="media-image">
    <span [ngClass]="{ bookmark: true, visible: userMovieData?.in_collection }">
      <ng-icon name="ionBookmark" size="24" />
    </span>
    <img src="assets/no_cover_placeholder.jpg" alt="Cover" />
  </div>
  <div class="media-info">
    <h1>{{ movieData.title }}</h1>
    <div class="media-data">
      <span>
        Director:
        <b>{{ movieData.director }}</b>
      </span>
      <span class="data-divider">|</span>
      <span>
        In
        <b>{{ movieData.saved_by.length }}</b>
        {{ movieData.saved_by.length === 1 ? 'collection' : 'collections' }}
      </span>
    </div>
  </div>
  <button
    *ngIf="userMovieData?.in_collection; else notInCollection"
    class="media-button remove"
    (click)="removeFromCollection()">
    <ng-icon name="ionRemove" size="36" />
    <span class="media-button-title">Remove</span>
  </button>
  <ng-template #notInCollection>
    <button class="media-button add" (click)="addToCollection()">
      <ng-icon name="ionAdd" size="36" />
      <span class="media-button-title">Add</span>
    </button>
  </ng-template>
</div>
<ng-template #movieDataLoading>
  <app-loading class="media-loading" [height]="160" />
</ng-template>

<form
  *ngIf="movieForm; else movieFormLoading"
  [formGroup]="movieForm"
  [ngClass]="{ 'form-group': true, disabled: !userMovieData?.in_collection }">
  <div class="form-header">
    <h2>Your Details</h2>
    <p-button
      [disabled]="!userMovieData?.in_collection"
      class="p-button-success"
      label="Save"
      icon="pi pi-check"
      styleClass="p-button-sm"
      (click)="updateData()" />
  </div>
  <div class="form-selection">
    <span class="form-container">
      <h3>Media form</h3>
      <p-selectButton [options]="selectItems.format" formControlName="format" />
    </span>
    <span class="form-container">
      <h3>Progress</h3>
      <p-selectButton
        [options]="selectItems.progress"
        formControlName="progress" />
    </span>
  </div>
  <div class="form-notes">
    <span class="form-container">
      <h3>Notes</h3>
      <textarea
        pInputTextarea
        rows="3"
        cols="30"
        formControlName="notes"></textarea>
    </span>
  </div>
</form>
<ng-template #movieFormLoading>
  <app-loading class="media-loading" [height]="160" />
</ng-template>
