@import '../../shared/styles/flexContent';

:host {
  @include flexContent;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  max-width: 440px;
  width: 100%;
  background: var(--highlight-bg);
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding: 24px 48px;
  border-radius: 12px;
  align-items: center;
}
