<div *ngIf="gameData; else gameDataLoading" class="media-header">
  <div class="media-image">
    <span [ngClass]="{ bookmark: true, visible: userGameData?.in_collection }">
      <ng-icon name="ionBookmark" size="24" />
    </span>
    <img src="assets/no_cover_placeholder.jpg" alt="Cover" />
  </div>
  <div class="media-info">
    <h1>{{ gameData.title }}</h1>
    <div class="media-data">
      <span>
        Platform:
        <b>{{ gameData.platform }}</b>
      </span>
      <span class="data-divider">|</span>
      <span>
        In
        <b>{{ gameData.saved_by.length }}</b>
        {{ gameData.saved_by.length === 1 ? 'collection' : 'collections' }}
      </span>
    </div>
  </div>
  <button
    *ngIf="userGameData?.in_collection; else notInCollection"
    class="media-button remove"
    (click)="removeFromCollection()">
    <ng-icon name="ionRemove" size="36" />
    <span class="media-button-title">Remove</span>
  </button>
  <ng-template #notInCollection>
    <button class="media-button add" (click)="addToCollection()">
      <ng-icon name="ionAdd" size="36" />
      <span class="media-button-title">Add</span>
    </button>
  </ng-template>
</div>
<ng-template #gameDataLoading>
  <app-loading class="media-loading" [height]="160" />
</ng-template>

<form
  *ngIf="gameForm; else gameFormLoading"
  [formGroup]="gameForm"
  [ngClass]="{ 'form-group': true, disabled: !userGameData?.in_collection }">
  <div class="form-header">
    <h2>Your Details</h2>
    <p-button
      [disabled]="!userGameData?.in_collection || !gameForm.valid"
      class="p-button-success"
      label="Save"
      icon="pi pi-check"
      styleClass="p-button-sm"
      (click)="updateData()" />
  </div>
  <div class="form-selection">
    <span class="form-container">
      <h3>Media form</h3>
      <p-selectButton [options]="selectItems.format" formControlName="format" />
    </span>
    <span class="form-container">
      <h3>Progress</h3>
      <p-selectButton
        [options]="selectItems.progress"
        formControlName="progress" />
    </span>
    <span class="form-container">
      <h3>Play time</h3>
      <div class="playtime-wrapper">
        <span style="flex-shrink: unset">
          <p-inputNumber formControlName="playtime" />
        </span>
        <span>hours</span>
      </div>
    </span>
  </div>
  <div class="form-notes">
    <span class="form-container">
      <h3>Notes</h3>
      <textarea
        pInputTextarea
        rows="3"
        cols="30"
        formControlName="notes"></textarea>
    </span>
  </div>
</form>
<ng-template #gameFormLoading>
  <app-loading class="media-loading" [height]="160" />
</ng-template>
