@import '../../shared/styles/contentBody';
@import '../../shared/styles/breakpoints';

:host {
  margin-top: 72px;
  @include contentBody;
}
.media-header {
  height: 160px;
  display: flex;
  flex-flow: row;
  gap: 24px;
  background: var(--primary-900);
  padding: 0 0 0 12px;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  @include breakpoint-max(620px) {
    flex-flow: column;
    height: auto;
    gap: 16px;
    padding: 12px 0 0;
  }
}

.media-info {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 8px;
  @include breakpoint-max(620px) {
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-family: 'Bungee Regular', sans-serif;
  }
}

.media-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 160px;
  position: relative;
  @include breakpoint-max(620px) {
    height: 130px;
  }

  .bookmark {
    bottom: 15px;
    right: 0;
    opacity: 0;
    position: absolute;
    background: #55b055;
    padding: 4px;
    border-radius: 20px;
    transition: 0.2s;
    @include breakpoint-max(620px) {
      bottom: 0;
    }

    &.visible {
      opacity: 1;
    }

    ng-icon {
      display: block;
    }
  }

  img {
    max-width: 130px;
    max-height: 130px;
    border-radius: 8px;
  }
}

.media-data {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  @include breakpoint-max(620px) {
    flex-flow: column;
  }
}

.data-divider {
  @include breakpoint-max(620px) {
    display: none;
  }
}

.media-button {
  height: 100%;
  color: inherit;
  border: none;
  padding: 0 12px;
  background: var(--primary-800);
  flex: 0 0 90px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  @include breakpoint-max(620px) {
    flex: 0 0 40px;
    flex-flow: row;
    width: 100%;
  }

  &.add:hover,
  &.add:active {
    background: #55b055;
  }

  &.remove:hover,
  &.remove:active {
    background: #b05555;
  }
}

.form-header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 16px;

  &.disabled {
    color: rgba(255, 255, 255, 0.27);
  }
}

.form-selection {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.form-notes {
  max-width: 550px;
  width: 100%;
}
