@import '../../shared/styles/contentBody';

:host {
  margin-top: 72px;
  @include contentBody;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 12px;

  &.disabled {
    color: rgba(255, 255, 255, 0.27);
  }
}

.form-selection {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
