@import '../../shared/styles/flexContent';
@import '../../shared/styles/breakpoints';

:host {
  margin-top: 72px;
  @include flexContent;
}

.data-divider {
  @include breakpoint-max(620px) {
    display: none;
  }
}

.form-header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 16px;

  &.disabled {
    color: rgba(255, 255, 255, 0.27);
  }
}

.form-selection {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.form-notes {
  max-width: 550px;
  width: 100%;
}

.rating-selector {
  box-sizing: border-box;
  padding-right: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 650px;
  width: 100%;
}

.current-score {
  flex-basis: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 60px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  transition: 0.2s;
}

.current-score.good {
  font-size: 24px;
  line-height: 24px;
  background-color: #2fa22f;
}

.current-score.average {
  font-size: 24px;
  line-height: 24px;
  background-color: #c49f07;
}

.current-score.poor {
  font-size: 24px;
  line-height: 24px;
  background-color: #a63636;
}

.score-slider {
  flex: 1;
}

.playtime-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 120px;
}
