.table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.row {
  display: flex;
  gap: 8px;
}

.row-item {
  min-width: 140px;
}

.header-row-item {
  display: flex;
  justify-content: space-between;
}

.row-item.title {
  flex: 1;
}
