<div role="table">
  <div class="header" role="rowheader">
    <div class="row header-row" role="row">
      <div class="row-item header-row-item title" role="columnheader">
        <span>Title</span>
        <button (click)="sortBy = 'title'">Sort</button>
      </div>
      <div class="row-item header-row-item" role="columnheader">
        <span>Platform</span>
        <button (click)="sortBy = ''">Sort</button>
      </div>
      <div class="row-item header-row-item" role="columnheader">
        <span>Progress</span>
        <button>Sort</button>
      </div>
      <div class="row-item header-row-item" role="columnheader">
        <span>Format</span>
        <button>Sort</button>
      </div>
    </div>
  </div>
  <div class="body" role="rowgroup">
    <div class="row" role="row" *ngFor="let row of sortedRows"></div>
  </div>
</div>
