@import '../../shared/styles/flexContent';

:host {
  @include flexContent;
}

.landing-page-header,
.landing-page-cta {
  margin: 64px 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mmsai-title {
  font-size: 48px;
  font-family: 'Bungee Regular', sans-serif;
}

.landing-page-section {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 64px 0;
}

.landing-page-image {
  flex: 1;
}

.landing-page-text {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.landing-page-buttons {
  display: flex;
  gap: 16px;
}
