<form [formGroup]="loginForm" class="form-container">
  <h2 class="form-title">Sign In</h2>
  <div class="form-inputs">
    <span class="p-float-label form-input-wrapper">
      <input
        class="form-input"
        pInputText
        type="email"
        id="email"
        formControlName="email" />
      <label htmlFor="email">Email</label>
    </span>
    <span class="p-float-label form-input-wrapper">
      <input
        class="form-input"
        pInputText
        type="password"
        id="password"
        formControlName="password" />
      <label htmlFor="password">Password</label>
    </span>
  </div>

  <div *ngIf="errorMessage$ | async" class="error-disclaimer">
    {{ errorMessage$ | async }}
  </div>
  <p-button
    id="login-button"
    [disabled]="!loginForm.valid"
    label="Log In"
    (click)="signIn()"></p-button>
  <a
    routerLink="/auth"
    [queryParams]="{ mode: 'initResetPassword' }"
    [state]="{
      email: email
    }">
    Forgot password?
  </a>
</form>
