.container {
  display: flex;
  flex-flow: column;
  gap: 8px;
  padding: 8px;
  border-radius: 12px;
  background-color: grey;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.container.good {
  background-color: #55b055;
}

.container.average {
  background-color: #f6b468;
}

.container.poor {
  background-color: #b05555;
}

.average {
  font-size: 36px;
  font-weight: 700;
}

.ratings {
  font-size: 14px;
  font-weight: 600;
}
