<h1>Dashboard</h1>
<div class="media-tab-menu">
  <p-tabMenu
    [model]="tabItems"
    [activeItem]="activeTab"
    (activeItemChange)="changeActiveItem($event)" />
</div>

<ng-template [ngIf]="activeTab.label === 'Games'">
  <app-game-statistics [statistics]="statistics?.games" />
  <app-media-table
    *ngIf="collection && collection.games.length > 0"
    [category]="MediaCategory.GAMES"
    [rows]="collection.games" />
</ng-template>

<ng-template [ngIf]="activeTab.label === 'Movies'">
  <app-movie-statistics [statistics]="statistics?.movies" />
  <app-media-table
    *ngIf="collection && collection.movies.length > 0"
    [category]="MediaCategory.MOVIES"
    [rows]="collection.movies" />
</ng-template>

<ng-template [ngIf]="activeTab.label === 'Albums'">
  <app-album-statistics [statistics]="statistics?.albums" />
  <app-media-table
    *ngIf="collection && collection.albums.length > 0"
    [category]="MediaCategory.ALBUMS"
    [rows]="collection.albums" />
</ng-template>
