@import '../../../shared/styles/breakpoints';

:host {
  max-width: 1270px;
  box-sizing: border-box;
  padding: 12px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
}

.header-account-button {
  margin-left: 8px;
  display: unset;
  visibility: visible;

  @include breakpoint-max(780px) {
    display: none;
    visibility: hidden;
  }
}

.header-sidebar {
  display: none;
  visibility: hidden;

  @include breakpoint-max(780px) {
    margin-left: 8px;
    display: unset;
    visibility: visible;
  }
}
