@import '../../shared/styles/contentBody';

:host {
  margin-top: 72px;
  @include contentBody;
}

.games-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}
