<div class="mmsai-tab-selection">
  <span class="mmsai-title">ME, MY SHELF & I</span>
  <span class="mmsai-divider"></span>
  <a
    class="mmsai-tab"
    [routerLink]="['/']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">
    Dashboard
  </a>
  <a
    class="mmsai-tab"
    [routerLink]="['/games']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">
    Games
  </a>
  <a
    class="mmsai-tab"
    [routerLink]="['/movies']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">
    Movies
  </a>
  <a
    class="mmsai-tab"
    [routerLink]="['/albums']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">
    Albums
  </a>
</div>
