<app-media-data
  [data]="albumData"
  [score]="score"
  [inCollection]="userAlbumData?.in_collection"
  mediaType="album"
  [id]="id">
  <ng-template [ngIf]="albumData">
    <span>
      Artist:
      <b>{{ albumData.artist }}</b>
    </span>
    <span class="data-divider">|</span>
    <span>
      In
      <b>{{ albumData.saved_by.length }}</b>
      {{ albumData.saved_by.length === 1 ? 'collection' : 'collections' }}
    </span>
  </ng-template>
</app-media-data>

<form
  [formGroup]="albumForm"
  [ngClass]="{ 'form-group': true, disabled: !userAlbumData?.in_collection }">
  <div class="form-header">
    <h2>Your Details</h2>
    <p-button
      [disabled]="!userAlbumData?.in_collection"
      class="p-button-success"
      label="Save"
      icon="pi pi-check"
      styleClass="p-button-sm"
      (click)="updateData()" />
  </div>
  <div class="form-rating">
    <div class="form-container">
      <h3>Score</h3>
      <div class="rating-selector">
        <span class="current-score" [ngClass]="containerColorClass">
          {{ currentScore }}
        </span>
        <p-slider
          class="score-slider"
          formControlName="score"
          [step]="1"
          [max]="10" />
      </div>
    </div>
  </div>
  <div class="form-selection">
    <span class="form-container">
      <h3>Media form</h3>
      <p-selectButton [options]="selectItems.format" formControlName="format" />
    </span>
    <span class="form-container">
      <h3>Progress</h3>
      <p-selectButton
        [options]="selectItems.progress"
        formControlName="progress" />
    </span>
  </div>
  <div class="form-notes">
    <span class="form-container">
      <h3>Notes</h3>
      <textarea
        pInputTextarea
        rows="3"
        cols="30"
        formControlName="notes"></textarea>
    </span>
  </div>
</form>
