:host {
  position: absolute;
}

.modal {
  z-index: 1104;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease-out;
  min-width: 300px;
  box-sizing: border-box;
  padding: 24px;
}

.modal.visible {
  top: 50%;
  visibility: visible;
  opacity: 1;
}

.modal-border {
  padding: 8px;
  border-radius: 20px;
}

.modal-border.danger {
  border: 4px solid #a63636;
}

.modal-border.success {
  border: 4px solid #2fa22f;
}

.modal-border.warning {
  border: 4px solid #c49f07;
}

.modal-wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primary-900);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.modal-header {
  display: flex;
  align-items: center;
  min-width: 0;
}

.modal-title {
  flex: 1;
}

.modal-backdrop {
  cursor: pointer;
  padding: 0;
  border: none;
  position: fixed;
  z-index: 1103;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
