<h1>Settings</h1>
<div class="headline-button">
  <h2>Display Name</h2>
  <p-button
    *ngIf="displayNameFormControl.disabled; else displayNameEnabled"
    label="Change"
    styleClass="p-button-text p-button-sm"
    icon="pi pi-pencil"
    (click)="toggleDisplayNameDisabled()" />
  <ng-template #displayNameEnabled>
    <div class="enabled-options">
      <p-button
        label="Discard"
        styleClass="p-button-text p-button-sm"
        icon="pi pi-times"
        (click)="toggleDisplayNameDisabled()" />
      <p-button
        label="Update"
        styleClass="p-button-sm"
        [disabled]="!displayNameFormControl.valid"
        icon="pi pi-check"
        (click)="updateDisplayName()" />
    </div>
  </ng-template>
</div>
<div class="input-wrapper">
  <input
    pInputText
    type="text"
    id="displayName"
    [formControl]="displayNameFormControl" />
  <small
    class="validator-error"
    *ngIf="displayNameFormControl.errors?.['maxlength']">
    Can't be longer than 12 characters
  </small>
</div>
<div class="headline-button">
  <h2>Password</h2>
  <p-button
    *ngIf="passwordFormControl.disabled; else passwordEnabled"
    label="Change"
    styleClass="p-button-text p-button-sm"
    icon="pi pi-pencil"
    (click)="togglePasswordDisabled()" />
  <ng-template #passwordEnabled>
    <div class="enabled-options">
      <p-button
        label="Discard"
        styleClass="p-button-text p-button-sm"
        icon="pi pi-times"
        (click)="togglePasswordDisabled()" />
      <p-button
        label="Update"
        styleClass="p-button-sm"
        [disabled]="!passwordFormControl.valid"
        icon="pi pi-check" />
    </div>
  </ng-template>
</div>
<form [formGroup]="passwordFormControl" class="input-group">
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Original password"
      type="password"
      id="originalPassword"
      formControlName="originalPassword" />
    <small
      class="validator-error"
      *ngIf="displayNameFormControl.errors?.['maxlength']">
      Can't be longer than 12 characters
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="New password"
      type="password"
      id="password"
      formControlName="password" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.controls['password'].errors?.['minlength']">
      Has to be at least 8 characters long
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Confirm new password"
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.errors?.['notSame']">
      Passwords do not match
    </small>
  </div>
</form>
