@import '../../shared/styles/flexContent';
@import '../../shared/styles/breakpoints';

:host {
  margin-top: 72px;
  @include flexContent;
}

.headline-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.input-wrapper {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.enabled-options {
  display: flex;
  gap: 8px;
}

.validator-error {
  margin-top: 4px;
  width: 100%;
  text-align: right;
  color: var(--red-100);
}
