<div class="main-navigation">
  <span class="mmsai-title">ME, MY SHELF & I</span>
  <span class="nav-divider"></span>
  <a
    class="nav-button"
    [routerLink]="['/']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }">
    Dashboard
  </a>
  <a
    class="nav-button"
    [routerLink]="['/games']"
    [routerLinkActive]="['active']">
    Games
  </a>
  <a
    class="nav-button"
    [routerLink]="['/movies']"
    [routerLinkActive]="['active']">
    Movies
  </a>
  <a
    class="nav-button"
    [routerLink]="['/albums']"
    [routerLinkActive]="['active']">
    Albums
  </a>
</div>
