<div class="headline-button">
  <h2>Password</h2>
  <div class="options-headline">
    <p-button
      *ngIf="passwordFormControl.disabled; else passwordEnabled"
      label="Change"
      styleClass="p-button-text p-button-sm"
      icon="pi pi-pencil"
      (click)="toggleFormControlDisabled()" />
    <ng-template #passwordEnabled>
      <div class="enabled-options">
        <p-button
          label="Discard"
          styleClass="p-button-text p-button-sm"
          icon="pi pi-times"
          (click)="toggleFormControlDisabled()" />
        <p-button
          label="Update"
          styleClass="p-button-sm"
          [disabled]="!passwordFormControl.valid"
          icon="pi pi-check"
          (click)="updateFormControl()" />
      </div>
    </ng-template>
  </div>
</div>
<form [formGroup]="passwordFormControl" class="input-group">
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Original password"
      type="password"
      id="originalPassword"
      formControlName="originalPassword" />
    <small
      class="validator-error"
      *ngIf="
        passwordFormControl.controls['originalPassword'].errors?.[
          'wrongPassword'
        ]
      ">
      Incorrect Password
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="New password"
      type="password"
      id="password"
      formControlName="password" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.controls['password'].errors?.['minlength']">
      Has to be at least 8 characters long
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Confirm new password"
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.errors?.['notSame']">
      Passwords do not match
    </small>
  </div>
</form>
<div class="options-below">
  <p-button
    *ngIf="passwordFormControl.disabled; else passwordEnabled"
    label="Change"
    styleClass="p-button-text p-button-sm"
    icon="pi pi-pencil"
    (click)="toggleFormControlDisabled()" />
  <ng-template #passwordEnabled>
    <div class="enabled-options">
      <p-button
        label="Discard"
        styleClass="p-button-text p-button-sm"
        icon="pi pi-times"
        (click)="toggleFormControlDisabled()" />
      <p-button
        label="Update"
        styleClass="p-button-sm"
        [disabled]="!passwordFormControl.valid"
        icon="pi pi-check"
        (click)="updateFormControl()" />
    </div>
  </ng-template>
</div>
