<div class="headline-button">
  <h2>Password</h2>
  <div class="options-headline">
    <p-button
      *ngIf="passwordFormControl.disabled; else passwordEnabled"
      label="Change"
      data-testid="change-button"
      [text]="true"
      size="small"
      icon="pi pi-pencil"
      (click)="toggleFormControlDisabled()" />
  </div>
</div>
<form [formGroup]="passwordFormControl" class="input-group">
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Original password"
      data-testid="old-password-input"
      type="password"
      id="originalPassword"
      formControlName="originalPassword" />
    <small
      class="validator-error"
      *ngIf="
        passwordFormControl.controls['originalPassword'].errors?.[
          'wrongPassword'
        ]
      ">
      Incorrect Password
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="New password"
      data-testid="new-password-input"
      type="password"
      id="password"
      formControlName="password" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.controls['password'].errors?.['minlength']">
      Has to be at least 8 characters long
    </small>
  </div>
  <div class="input-wrapper">
    <input
      pInputText
      placeholder="Confirm new password"
      data-testid="confirm-password-input"
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword" />
    <small
      class="validator-error"
      *ngIf="passwordFormControl.errors?.['notSame']">
      Passwords do not match
    </small>
  </div>
</form>
<div class="options-below">
  <p-button
    *ngIf="passwordFormControl.disabled; else passwordEnabled"
    label="Change"
    [text]="true"
    size="small"
    icon="pi pi-pencil"
    (click)="toggleFormControlDisabled()" />
</div>

<ng-template #passwordEnabled>
  <div class="enabled-options">
    <p-button
      label="Discard"
      data-testid="discard-button"
      [text]="true"
      size="small"
      icon="pi pi-times"
      (click)="toggleFormControlDisabled()" />
    <p-button
      label="Update"
      data-testid="update-button"
      size="small"
      [disabled]="!passwordFormControl.valid"
      icon="pi pi-check"
      (click)="update()" />
  </div>
</ng-template>
